<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is forgot password page
    <br/>
    <p>Enter your email</p>
    <input type="text" id="email_forgot_password" placeholder="email"/>
    <button id="get_otp">Submit</button>
</body>

<script>
    document.getElementById('get_otp').addEventListener('click',async()=>{
        var email = document.getElementById('email_forgot_password').value
        if(!email || email.length == 0)
        {
            window.alert('Please provide a valid Email ID')
            return;
        }

        var data = await fetch('/forgotPassword',{
            method:'PUT',
            headers:{
                'Content-Type' : 'application/json'
            },
            body:JSON.stringify({
                email,
            })
        }).then(res=>res.json())

        if(data.status == false)
        {
            window.alert('Some error occurred')
            return;
        }

        window.alert(data.message)
    
        window.location.replace('/resetPassword')

        // console.log(data)
    })
</script>

</html>