<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>this is reset password page</h3>
    
    <input type="text" id="email_forgot_password" placeholder="email"/>
    <br/>
    <input type="text" id="otp_forgot_password" placeholder="OTP"/>
    <br/>
    <input type="text" id="newPassword_forgot_password" placeholder="New Password"/>
    <br/>
    <input type="text" id="cnfPassword_forgot_password" placeholder="Confirm Password"/>
    <br/>
    <button id="reset_password">Submit</button>
</body>
<script>
    document.getElementById('reset_password').addEventListener('click',async()=>{
        var email = document.getElementById('email_forgot_password').value
        var otp = document.getElementById('otp_forgot_password').value
        var newPassword = document.getElementById('newPassword_forgot_password').value
        var cnfPassword = document.getElementById('cnfPassword_forgot_password').value

        if(newPassword != cnfPassword)
        {
            window.alert('Passwords did not match. \nPlease recheck')
            return
        }

        var data = await fetch('/resetPassword',{
            method:'PUT',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                email,
                otp,
                newPassword
            })
        })

        window.alert(data.message)

    })
</script>
</html>