<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>

    <style>
        .flex-class {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
      }
    </style>
    
  

</head>
<body>
    <h1>Files</h1>
    <div class="flex-class">
        <%let id=1%>
        <% files.forEach(function(file) { %>
      
            <div id=<%=id%> >

                <embed  type="application/pdf" 
src="data:<%=file.contentType%>;base64,
                     <%=file.data.toString('base64')%>" 
 alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" 
background-color="0xFF525659" top-toolbar-height="56" full-frame="" internalinstanceid="21" 
title="CHROME">

   <button onclick="show(this)">Open</button>
            </div>
       <% id=id+1%>
        <% }) %>
    </div>

    

    <script>
        function show(e){
          console.log("clicked")
          e.parentNode.style.height = "100vh"
          e.parentNode.style.width = "100vw"
         
          }
      </script>
</body>
</html>